<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container my-5">
      <h1>About Us</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut mollitia
        expedita laudantium, unde voluptates reiciendis impedit inventore eos
        dignissimos ducimus natus omnis nulla aliquid labore porro laborum
        suscipit quisquam molestiae facere! Optio quisquam qui dolores delectus
        ducimus totam dolorem mollitia.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
